/* Content */
html,
body, 
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

h1 {
    text-align: center;
}

.wrapper {
    height: 100%;
    position: relative;
}

.form-ui {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99; 
}

.listing {
    padding: 0;
    background-color: white;
    margin: 0;
    border: 2px solid black;
    list-style-type: none;
}

.listing-item {
    padding: 10px 10px;
}

.listing-item:hover {
    background-color: gray;
}

@media screen and (max-width: 414px) {
    .list-ui {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
    }
    
    .listing {
        overflow: auto;
        max-height: 100px;
    }
}

@media screen and (min-width: 415px) {
    .list-ui {
        position: absolute;
        left: 10px;
        top: 40px;
        z-index: 99;
        
    }
}

/* https://css-tricks.com/examples/ButtonMaker/# */
.button {
   border-top: 1px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#27272e), to(#000000));
   background: -webkit-linear-gradient(top, #27272e, #000000);
   background: -moz-linear-gradient(top, #27272e, #000000);
   background: -ms-linear-gradient(top, #27272e, #000000);
   background: -o-linear-gradient(top, #27272e, #000000);
   padding: 4.5px 9px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
   
.button:hover {
   border-top-color: #1a2730;
   background: #1a2730;
   color: #ccc;
}
   
.button:active {
   border-top-color: #000000;
   background: #000000;
}